# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Build files
Makefile*
*build-*

# Test runner binary
test_runner

# CMake
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps/
*.cbp

# CodeQL
_codeql_build_dir/

# IDE files
*.autosave
*.user
*.user.*
compile_commands.json
*creator.user*
